#homepage-components {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 200px;
  margin-right: 200px;
}

#navbar {
  list-style: none;
  margin:0;
  position: fixed;
  border: black 1px solid;
}

#navbar :hover {
  cursor: pointer;
}

li {
  list-style: none;
}
