@tailwind base;
@tailwind components;
@tailwind utilities;


#root {
  display:flex;
  justify-content: center;
  height: 100%;
  padding-top: 50px;
  font-family:"Roboto Slab", serif;
}


#aboutme , #projects, #experience, #footer{
  grid-column-start: 2;
  grid-column-end: 6;
}


#navbar-items :hover {
  cursor: pointer;
}

li {
  list-style: none;
}

@media (max-width: 768px) {
  #navbar-items {
    display:none
  }
  
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
  }
}

#aboutme, #navbar {
  animation: fadeInRight 1s ease-in-out
}

@keyframes rollout {
  0% { transform: translateY(400px); }
  100% { transform: none; }
}

#projects, #experience {
  animation: rollout 1.5s;
}